name: "Auto Label Issues & PRs"

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [opened, edited]

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: github/issue-labeler@v3
        with:
          configuration-path: .github/labeler.yml
          repo-token: ${{ github.token }}
